@model IPagedList<UserListViewModel>

    <div id="userList">

        <div class="pagedList" data-user-target="#userList">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            PagedListRenderOptions.MinimalWithItemCountText)
        </div>

        @Html.Partial("_UserBlocks", Model)
    </div>


