@model IPagedList<PhotoListViewModel>

<div id="photoList">

    <div class="pagedList" data-user-target="#photoList">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
            PagedListRenderOptions.MinimalWithItemCountText)
    </div>
    
    <div class="containers">
        @foreach (var item in Model)
        {
            <a class="hoverimage" href="/Game/start/@item.Id">
                <img src="@Url.Content(item.imgPath)" class="myPictures" alt="" />
            </a>
        }
    </div>
</div>

